---
---

@import "{{ site.theme }}";
.blue-text1 {
  color: #003F87;
}
    
.blue-text2 {
  color: #3B81AA;
}

body {
  background-image: url("/images/Wallace_Blue_Dress_Tartan pattern.png");
  background-color: #fff;
  background-size: 100% 5%;
  background-repeat: repeat-x;
}
